<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Untitled Document</title>
</head>
<body>
    <table style="width: 640px; background: #F2F2F2; padding:5px;" border="0" cellspacing="0"
        cellpadding="0">
        <tr>
            <td align="center">
                <img src="http://gm.krakens.mx/static/img/mail/header_1_600x150.jpg" />
            </td>
        </tr>
        <tr>
            <td style="padding:20px;">
                <span style="font-size:24px;font-family: Arial;font-weight: bold;color:#585858;">
                    Acaba de registrar un nuevo mantenimiento
                </span><br><br>


                <span style="font-size:15px;font-family: Arial;color:#585858;">
                    Su numero de mantenimiento es : <strong>{{ mantenimiento }}</strong><br><br>
                </span>

                <span style="font-size:24px;font-family: Arial;font-weight: bold;color:#585858;">
                    DATOS DEL OPERADOR
                </span><br><br>
                <span style="font-size:15px;font-family: Arial;color:#585858;">
                    <strong>Nombre: </strong><br><br>
                     Juan Camacho Barradas
                    <br><br>
                    <strong>Celular: </strong><br><br>
                    0445541413004
                    <br><br>
                    <strong>Correo: </strong><br><br>
                    jcamacho@gonzálezmontesinos.com.mx
                    <br><br>
                </span>
                <span style="font-size:15px;font-family: Arial;font-weight: bold;color:#585858;">
                    Estimado Inquilino Recuerde:
                </span><br><br>
                <table>
                    <tr>
                        <td align="right" style="font-size:13px;font-family: Arial;color:#585858;list-style:none;">
                            1.- 
                        </td>
                        <td style="font-size:13px;font-family: Arial;color:#585858;list-style:none;">
                            Reporte electrónicamente sus desperfectos. 
                        </td>
                    </tr>

                    <tr>
                        <td align="right" style="font-size:13px;font-family: Arial;color:#585858;list-style:none;">
                            2.-
                        </td>
                        <td style="font-size:13px;font-family: Arial;color:#585858;list-style:none;">
                            Este sistema le proporcionará un número de reporte para cualquier aclaración posterior. 
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="font-size:13px;font-family: Arial;color:#585858;list-style:none;">
                            3.-
                        </td>
                        <td style="font-size:13px;font-family: Arial;color:#585858;list-style:none;">
                            Se solicita un reporte por cada desperfecto y usted recibirá el numero de todos.
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="font-size:13px;font-family: Arial;color:#585858;list-style:none;">
                            4.-
                        </td>
                        <td style="font-size:13px;font-family: Arial;color:#585858;list-style:none;">
                            Recabe de nuestro técnico una copia de la orden de trabajo y firme la original de esta orden, cuando esté terminado el trabajo específico. El operador la requiere para    cobrar sus honorarios. 
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="font-size:13px;font-family: Arial;color:#585858;list-style:none;">
                            5.-
                        </td>
                        <td style="font-size:13px;font-family: Arial;color:#585858;list-style:none;">
                            Si usted no está conforme con trabajo, no firme
                        </td>
                    </tr>
                    <tr>
                         <td align="right" style="font-size:13px;font-family: Arial;color:#585858;list-style:none;">
                            6.-
                        </td>
                        <td style="font-size:13px;font-family: Arial;color:#585858;list-style:none;">
                             Para cualquier aclaración o duda diríjase a nuestro Jefe de Mantenimiento mencionando el número de reporte 
                        </td>
                    </tr>
                    <tr>
                         <td align="right" style="font-size:13px;font-family: Arial;color:#585858;list-style:none;">
                            7.-
                        </td>
                        <td style="font-size:13px;font-family: Arial;color:#585858;list-style:none;">
                            No reparamos daños causados por el inquilino o terceras personas. 
                        </td>
                    </tr>
                    <tr>
                        <td align="right" style="font-size:13px;font-family: Arial;color:#585858;list-style:none;">
                            8.-
                        </td>
                        <td style="font-size:13px;font-family: Arial;color:#585858;list-style:none;">
                            Los daños causados a la localidad por usted, le serán cobrados. 
                        </td>
                    </tr>
                    <tr>
                         <td align="right" style="font-size:13px;font-family: Arial;color:#585858;list-style:none;">
                            9.-
                        </td>
                        <td style="font-size:13px;font-family: Arial;color:#585858;list-style:none;">
                            Las reparaciones menores corresponden al arrendatario (Artículo 244 del Código Civil) 
                        </td>
                    </tr>
                    <tr>
                         <td align="right" style="font-size:13px;font-family: Arial;color:#585858;list-style:none;">
                            10.-
                        </td>
                        <td style="font-size:13px;font-family: Arial;color:#585858;list-style:none;">
                            No efectuamos trabajos de aseo o decoración, si no en áreas generadas del inmueble. 
                        </td>
                    </tr>
                    <tr>
                         <td align="right" style="font-size:13px;font-family: Arial;color:#585858;list-style:none;">
                            11.-
                        </td>
                        <td style="font-size:13px;font-family: Arial;color:#585858;list-style:none;">
                            No damos ningún servicio a inquilinos morosos en el pago de sus rentas.
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center">
                <img src="http://gm.krakens.mx/static/img/mail/footer.jpg" />
            </td>
        </tr>
    </table>
            <!-- /contenido -->
 
</html>