<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Untitled Document</title>
</head>
<body>
    <table style="width: 500px; background: #E6E7E9; padding:0px; margin: 0 auto;" border="0" cellspacing="0"
        cellpadding="0">
        <tr>
            <td align="center">
                <img src="http://kraken.juanros13.com/static/img/mail/header_1.png">
            </td>
        </tr>
        <tr>
            <td style="padding:20px;">
                <span style="font-size:24px;font-family: Arial;font-weight: bold;color:#585858;">
                    La clave de acceso puede ser cambiada desde la seccion "Mi perfil"
                </span><br><br>


                <span style="font-size:15px;font-family: Arial;color:#585858;">
                    Click en la liga para resetar tu password : <strong>{{ url }}</strong><br><br>
                </span>
            </td>
        </tr>
        <tr>
            <td align="center">
                <img src="http://kraken.juanros13.com/static/img/mail/footer_1.png">
            </td>
        </tr>
    </table>
            <!-- /contenido -->
 
</html>