{% extends "base.html" %}
{% block title %}
Avisos
{% endblock%}
{% block style %}
<link href="{{ STATIC_PREFIX }}assets/global/plugins/bootstrap-summernote/summernote.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_PREFIX }}assets/pages/css/search.min.css" rel="stylesheet" type="text/css" />
{% endblock%}
{% block body %}
<div class="page-content">
  <!-- BEGIN PAGE HEADER-->
  <div class="page-bar">
    <ul class="page-breadcrumb">
      <li>
        <a href="index.html">Home</a>
        <i class="fa fa-circle"></i>
      </li>
      <li>
         <span>Comunicación</span>
      </li>
    </ul>
  </div>
  <h3 class="page-title">
  AVISOS
  </h3>
  <div class="portlet light bordered">
    <div class="portlet-title tabbable-line">
      <div class="caption">
          <i class="icon-pin font-yellow-lemon"></i>
          <span class="caption-subject bold font-yellow-lemon uppercase">CREAR NUEVO AVISO </span>
      </div>
    </div>
    <div class="portlet-body">
      <div class="tab-content search-page search-content-2">
        <div class="row">
          <div class="col-md-12">
            <form role="form"  action="{% url 'vista_avisos_crear' %}" method="POST">
              {% csrf_token %}
              <div class="form-body">
                {% for field in aviso_form %}
                <div class="form-group {% if field.errors %}has-error{% endif %}">
                  <label class="control-label">{{ field.label|striptags }}</label>
                    {{ field }}
                    <span class="help-block">{{ field.errors|striptags }}</span>
                </div>
                {% endfor %}
                </div>
              </div>
              <div class="form-actions noborder">
                <button type="submit" class="btn btn-success uppercase">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}
<!-- BEGIN PAGE LEVEL PLUGINS -->
 <script src="{{ STATIC_PREFIX }}assets/global/plugins/bootstrap-summernote/summernote.min.js" type="text/javascript"></script>
<script src="{{ STATIC_PREFIX }}js/apps/avisos/avisos.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<script>
jQuery(document).ready(function() {    
});
</script>
{% endblock %}