<!-- BEGIN SIDEBAR -->
      <div class="page-sidebar-wrapper">
        <!-- BEGIN SIDEBAR -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <div class="page-sidebar navbar-collapse collapse">
          <!-- BEGIN SIDEBAR MENU -->
          <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
          <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
          <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
          <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
          <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
          <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
          <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <li class="sidebar-toggler-wrapper hide">
              <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
              <div class="sidebar-toggler"> </div>
              <!-- END SIDEBAR TOGGLER BUTTON -->
            </li>
            <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
            <li class="sidebar-search-wrapper">
              <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
              <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
              <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
              <form class="sidebar-search  sidebar-search-bordered" action="page_general_search_3.html" method="POST">
                <a href="javascript:;" class="remove">
                  <i class="icon-close"></i>
                </a>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search...">
                  <span class="input-group-btn">
                    <a href="javascript:;" class="btn submit">
                      <i class="icon-magnifier"></i>
                    </a>
                  </span>
                </div>
              </form>
              <!-- END RESPONSIVE QUICK SEARCH FORM -->
            </li>
            {% url 'dashboard' as dashboard %}
            {% url 'vista_instalacion' as vista_instalacion %}
            {% url 'vista_avisos' as vista_avisos %}
            {% url 'vista_directorio' as vista_directorio %}
            {% url 'vista_encuestas' as vista_encuestas %}
            {% url 'vista_mensajes' as vista_mensajes %}
            {% url 'vista_edificio' as vista_edificio %}
            {% url 'vista_departamento' as vista_departamento %}
            {% url 'vista_condomino' as vista_condomino %}
            {% url 'vista_torre' as vista_torre %}
            <li class="nav-item {% if dashboard == request.path %}active open{% endif %}">
              <a href="{% url 'dashboard' %}" class="nav-link nav-toggle">
                <i class="icon-home"></i>
                <span class="title">Dashboard</span>
              </a>
            </li>
            <li class="nav-item {% if 'inmuebles' in request.path %}active open{% endif %}">
              <a href="#" class="nav-link nav-toggle ">
                <i class="fa fa-building-o"></i>
                <span class="title">Inmuebles</span>
                <span class="arrow {% if vista_edificio == request.path %}open{% endif %}"></span>
              </a>
              <ul class="sub-menu">
                <li class="nav-item  {% if vista_edificio == request.path %}active open{% endif %}">
                  <a href="{% url 'vista_edificio' %}" class="nav-link ">
                    <span class="title">Edificios</span>
                    <span class="selected"></span>
                  </a>
                </li>
                <li class="nav-item  {% if vista_departamento == request.path %}active open{% endif %}">
                  <a href="{% url 'vista_departamento' %}" class="nav-link ">
                    <span class="title">Departamentos</span>
                  </a>
                </li>
                <li class="nav-item  {% if vista_condomino == request.path %}active open{% endif %}">
                  <a href="{% url 'vista_condomino' %}" class="nav-link ">
                    <span class="title">Condóminos</span>
                  </a>
                </li>
                <li class="nav-item  {% if vista_torre == request.path %}active open{% endif %}">
                  <a href="{% url 'vista_torre' %}" class="nav-link ">
                    <span class="title">Torres</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item {% if vista_instalacion == request.path %}active open{% endif %}">
              <a href="{% url 'vista_instalacion' %}" class="nav-link nav-toggle">
                <i class="icon-calendar"></i>
                <span class="title">Instalaciones</span>
              </a>
            </li>
            <li class="nav-item {% if vista_avisos == request.path %}active open{% endif %}">
              <a href="{% url 'vista_avisos' %}" class="nav-link nav-toggle">
                <i class="icon-doc"></i>
                <span class="title">Avisos</span>
              </a>
            </li>
            <li class="nav-item {% if vista_directorio == request.path %}active open{% endif %}">
              <a href="{% url 'vista_directorio' %}" class="nav-link nav-toggle">
                <i class="icon-users"></i>
                <span class="title">Directorio</span>
              </a>
            </li>
            <li class="nav-item {% if vista_encuestas == request.path %}active open{% endif %}">
              <a href="{% url 'vista_encuestas' %}" class="nav-link nav-toggle">
                <i class="icon-pie-chart"></i>
                <span class="title">Encuestas</span>
              </a>
            </li>
            <li class="nav-item {% if vista_mensajes == request.path %}active open{% endif %}">
              <a href="{% url 'vista_mensajes' %}" class="nav-link nav-toggle">
                <i class="icon-bubble"></i>
                <span class="title">Mensajes</span>
              </a>
            </li>
          </ul>
          <!-- END SIDEBAR MENU -->
          <!-- END SIDEBAR MENU -->
        </div>
        <!-- END SIDEBAR -->
      </div>
      <!-- END SIDEBAR -->